/*start main rules*/

.container{width:900px;margin:auto;font-family:"Trebuchet MS", Helvetica, sans-serif;height: 875px}

/*start main rules*/

/*start offer*/

.offer, .maldives, .words {overflow:hidden}
.offer .maldives .words h2:first-of-type {background-color: #f7ae41;color: #fff;display: inline-block;font-size: 25px;padding: 5px 30px;text-transform:uppercase}

.offer .maldives img {width: 100%;height: 500px}
.offer .maldives .words p {font-size: 17px;line-height: 25px;color: #777;text-align: justify;font-family: sans-serif}
.offer .container > span {float:right;bottom:5px;position: relative;background-color: #f7ae41;padding:10px;font-weight: 600;}
.offer .container {overflow:hidden}
.offer .container span a {text-transform: uppercase;text-decoration:none;color:#fff}
.offer .container span a:hover {color:#2c2c2c}

/*end offer*/